@font-face {
    font-family: "Syracuse Block Condensed";
    src: url('./assets/SyracuseBlockCondensedVF.woff2') format("woff2 supports variations");
    src: url('./assets/SyracuseBlockCondensedVF.woff2') format("woff2-variations");
    font-weight: 100 900;
    }
@font-face {
    font-family: ShermanSans;
    src: url(https://assets.syracuse.edu/fonts/shermansans-book.woff2) format("woff2"),url(https://assets.syracuse.edu/fonts/shermansans-book.woff) format("woff"),url(https://assets.syracuse.edu/fonts/shermansans-book.eot) format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ShermanSans;
    src: url(https://assets.syracuse.edu/fonts/shermansans-book-intl.woff2) format("woff2"),url(https://assets.syracuse.edu/fonts/shermansans-book-intl.woff) format("woff"),url(https://assets.syracuse.edu/fonts/shermansans-book-intl.eot) format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ShermanSans;
    src: url(https://assets.syracuse.edu/fonts/shermansans-bold.woff2) format("woff2"),url(https://assets.syracuse.edu/fonts/shermansans-bold.woff) format("woff"),url(https://assets.syracuse.edu/fonts/shermansans-bold.eot) format("embedded-opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ShermanSans;
    src: url(https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff2) format("woff2"),url(https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff) format("woff"),url(https://assets.syracuse.edu/fonts/shermansans-bold-intl.eot) format("embedded-opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --sherman-sans: "ShermanSans", Verdana, sans-serif;
    --variable-weight: clamp(100, calc(var(--cursor-x) * 1000), 900);
    --cursor-x: 0.5;

    --su-orange-primary: #f76900;
    --su-blue-primary: #000e54;
    --su-blue-medium: #203299;
    --su-neutral-gray: #f5f5f5;
    --su-gray: #333333;
    --su-white: white;
    --drop-shadow: rgb(from #1c1c1c r g b / 0.5);
    --blue-overlay: rgb(from var(--su-blue-primary) r g b / 0.8), rgb(from var(--su-blue-primary) r g b / 0.8);
    --orange-overlay: rgb(from var(--su-orange-primary) r g b / 0.9);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	scroll-behavior: smooth;
}
p {
    font-family: var(--sherman-sans);
    font-weight: inherit;
    line-height: 160%;
}
::selection {
    color: var(--su-white);
    background: var(--su-orange-primary);
}
a {
    color: var(--su-orange-primary);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 33%;
    transition: all 0.3s;
}
a:hover {
    text-decoration-color: transparent;
}
h2 {
    font-family: "Syracuse Block Condensed", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    padding: 3rem 0 0.5rem;
}

/* ---- Begin Font Weight Classes ---- */

.thin { 
    font-weight: 100; 
}
.thin-ital { 
    font-weight: 100; 
    font-variation-settings: "ital" 1; 
}
.light { 
    font-weight: 300; 
}
.light-ital { 
    font-weight: 300; 
    font-variation-settings: "ital" 1; 
}
.regular { 
    font-weight: 400; 
}
.ital { 
    font-weight: 400; 
    font-variation-settings: "ital" 1; 
}
.medium { 
    font-weight: 500;
 }
.medium-ital { 
    font-weight: 500; 
    font-variation-settings: "ital" 1; 
}
.bold { 
    font-weight: 700; 
}
.bold-ital { 
    font-weight: 700; 
    font-variation-settings: "ital" 1; 
}
.heavy { 
    font-weight: 900; 
}
.heavy-ital { 
    font-weight: 900; 
    font-variation-settings: "ital" 1; 
}

/* ---- End Font Weight Classes ---- */

header {
    background-color: var(--su-neutral-gray);
    position: fixed;
    top: -16px;
    left: 5%;
    width: 60px;
    height: 96px;
    box-shadow: 0 0.125em 0.5em 0 var(--drop-shadow);
    z-index: 990;
    padding: 46px 18px 0;
    transition: all 200ms;
}
header:hover {
    transform: translateY(12px);
}
.block {
    transition: all 300ms;
    color: var(--su-blue-primary);
    position: relative;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}
.slate-bg {
    background: var(--su-neutral-gray);
    color: var(--su-gray);
    padding: 4rem 0;
}
.white-bg {
    background: var(--su-white);
    color: var(--su-gray);
    padding: 4rem 0;
}
.textured-bg {
    background: url(./assets/decor/wood.png);
}
.gradient-blue-bg {
    background: linear-gradient(118deg,var(--su-blue-primary),30.0%,var(--su-blue-medium) 99.0%);
    color: var(--su-white);
    padding: 4rem 0;
}
.hero {
    background:linear-gradient(var(--blue-overlay)), center bottom / cover url(./assets/SFS_NancyCantorWarehouse_0008_72PPI_BW.JPG);
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    width: 100%;
    color: var(--su-white);
    filter: opacity(1);
    transition: all 300ms;
    z-index: 0;
}
.hero .plate {
    margin: 0 2.5%;
    font-weight: normal;
    font-size: 1.125rem;
    letter-spacing: 0.15px;
}
.hero .arrow {
    margin: 0 auto;
    width: 3rem;
    position: absolute;
    bottom: 7.5%;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll-arrow 5s infinite;
}
@keyframes scroll-arrow {
    0% {
        transform: translate(-50%, 0%);
    }
    50% {
        transform: translate(-50%, 100%);
    }
    100% {
        transform: translate(-50%, 0%);
    }
}
.hint {
    position: absolute;
    background-color: var(--orange-overlay);
    color: var(--su-white);
    bottom: -2%;
    left: 8vw;
    padding: 0.5rem 1.25rem;
    transform: rotate(-5deg);
    z-index: 800;
    font-size: 0.875rem;
    letter-spacing: 0;
}
h1.title {
    font-family: "Syracuse Block Condensed", sans-serif;
    font-weight: var(--variable-weight);
    font-size: clamp(5.5rem, 12.25vw, 11rem);
    padding: 1rem 0;
}
h1.title em {
    color: var(--su-orange-primary);
    font-style: normal;
}
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cards img {
    width: 100%;
}
.glyphs {
    padding: 6rem 0;
}
.glyphs .all-glyphs {
    font-family: "Syracuse Block Condensed", sans-serif;
    font-size: 8rem;
    line-height: 138%;
    letter-spacing: 0.15rem;
    text-align: justify;
}
@media ( min-width: 64rem ) {
    .glyphs .all-glyphs {
        line-height: 180%;
    }
}
.center {
    text-align: center;
}
.column {
    display: block;
    list-style-type: none;
}
.row {
    list-style-type: none;
    margin: 0 auto;
}
.row li {
    display: inline-block;
    margin-right: 1.5rem;
}
button {
    color: white;
    padding: 1rem;
    font-weight: bold;
    border: 2px solid transparent;
    background-color: #000e54;
    border-radius: 0px;
    text-decoration: none;
    transition: all 250ms;
    text-decoration: none;
}
button:hover {
    background-color: transparent;
    border-color: #f76900;
    color: #000e54;
    cursor: not-allowed;
}
.words {
    color: white;
    padding: 4rem 0 2rem;
}
.words ul {
    padding: 0;
}
.sample {
    display: inline-block;
    min-width: 48%;
    margin-bottom: 3rem;
}
.sample-label {
    font-family: var(--sherman-sans);
    display: inline-block;
    width: 100%;
    color: #f76900;
    font-size: 0.75rem;
    letter-spacing: 1px;
    padding-bottom: 0.75rem;
    text-transform: uppercase;
    font-weight: bold;
}
.sample-word {
    font-size: clamp(6rem, 10vw, 9rem);
    font-family: "Syracuse Block Condensed", "Oswald", sans-serif;
}
.about {
    padding-top: 3rem;
}
.prose p {
    padding-bottom: 2rem;
    line-height: 200%;
}
footer {
    font-size: 0.75rem;
    line-height: 1rem;
    border-top: 1px solid rgb(from #707780 r g b / 0.5);
    color: var(--su-blue-primary);
}
footer p {
    font-family: var(--sherman-sans);
}
footer p + p {
    margin-top: 1em;
}
